@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Roboto+Slab:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Lobster&family=Open+Sans&family=Roboto+Slab:wght@500&display=swap');

.lobStar{
    font-family: 'Lobster', cursive;
}

.crimson{
    font-family: 'Crimson Pro', serif;
}

.bg-contact {
    background-image: url('https://i.ibb.co/hmqmMXr/welcome-picture.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}


 .bg-contact-2 {
    background-image: linear-gradient(90deg, rgba(0, 199, 76, 0.068), rgba(0, 187, 255, 0.192));
}



.bg-simple {
    background-color: rgba(0, 0, 0, 0.232);
}
.bg-simple-2 {
    background-color: rgba(0, 0, 0, 0.412);
} 





