@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@500&display=swap');

.openSans{
    font-family: 'Open Sans', sans-serif;
}

.bg-hov2 {
    /* position: relative; */
    transition: .5s;


}

.bg-hov2:hover {

    transform: translateY(-12px);

    z-index: 2;

}