.customColor{
    background-color: rgba(255, 255, 255);
    position: sticky;
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
   
}

.customColor  .white {
    color: rgb(3, 3, 85) !important;

}

.customWhite{
    color: white;
}